{{ define "main" }}

<div class="btn-back mt-3 ms-3">
    <a href="javascript:history.back();"><button class="btn btn-top"><i class="fa-solid fa-arrow-left"></i></button></a>
    <!-- <a href="/"><button class="btn btn-top"><i class="fa-solid fa-arrow-left"></i></button></a> -->
</div>

<div class="container-fluid">
    <div class="container">
        <div class="textdiv p-4">
            <div class="row pt-5 justify-content-center" id="informatik">
                <h2 class="text-center pt-3">Cape May | USA</h2>
                <div class="col-xl-10 col-lg-10 col-md-10">
                    <p class="mt-3 text-center">
                        Hier sind ein paar meiner Favoriten von Cape May, USA.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-custom mb-5 pb-5">
        <div class="grid">
            <div class="grid-sizer"></div>
            <img src="/img/projects/image-cape-may-9.jpg" alt="Image of Cape May 1" class="grid-item grid-item-2">
            <img src="/img/projects/image-cape-may-2.jpg" alt="Image of Cape May 2" class="grid-item grid-item-2">
            <img src="/img/projects/image-cape-may-5.jpg" alt="Image of Cape May 5" class="grid-item grid-item-2">
            <img src="/img/projects/image-cape-may-10.jpg" alt="Image of Cape May 10" class="grid-item grid-item-2">
            <img src="/img/projects/image-cape-may-3.jpg" alt="Image of Cape May 3" class="grid-item">
            <img src="/img/projects/image-cape-may-4.jpg" alt="Image of Cape May 4" class="grid-item">
            <img src="/img/projects/image-cape-may-6.jpg" alt="Image of Cape May 6" class="grid-item">
            <img src="/img/projects/image-cape-may-7.jpg" alt="Image of Cape May 7" class="grid-item">
            <img src="/img/projects/image-cape-may-8.jpg" alt="Image of Cape May 8" class="grid-item">
        </div>
    </div>
</div>

{{ end }}

{{ define "body_include" }}

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<script>
    $('.grid').masonry({
        itemSelector: '.grid-item',
        columnWidth: '.grid-sizer',
        percentPosition: true
    })
</script>

{{ end }}