{{ define "style" }}
<style>
    html,
    body {
        background-color: #131313;
    }
</style>
{{ end }}
{{ define "main" }}

<div class="container me-0 pe-0 d-flex align-items-center min-vh-100">
    <div class="position-absolute collection-back">
        <a href="javascript:history.back();"><button class="btn btn-back"><i
                    class="fa-solid fa-arrow-left"></i></button></a>
    </div>
    <div class="row d-flex align-items-center">
        <div class="position-absolute col div-collection">
            <h1>ICF Christmas Experience</h1>
            <p>Die ICF Christmas Experience war ein riesen Event von ICF Zürich wo ich fotografieren durfte. Es war eine sehr coole Erfahrung bei so einem grossen Event mitmachen zu dürfen und zu sehen wie professionelle Fotografen arbeiten.</p>
        </div>
        <div class="col col-collection">
            <img src="/img/subpages/christmas-experience/icf-christmas-experience-92.jpg" class="d-block w-100 image-collection" alt="Bike 2">
        </div>
    </div>
    <div class="position-absolute collection-scroll">
        <p>SCROLL<i class="fa-solid fa-arrow-down mt-2"></i></p>
    </div>
</div>
<div class="container-fluid mx-0 px-0 mt-5 mb-5 pb-5">
    <div class="grid">
        <div class="grid-sizer"></div>
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-17.jpg" alt="Bike" class="grid-item">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-19.jpg" alt="Bike" class="grid-item">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-27.jpg" alt="Bike" class="grid-item">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-29.jpg" alt="Bike" class="grid-item">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-47.jpg" alt="Bike" class="grid-item">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-53.jpg" alt="Bike" class="grid-item">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-86.jpg" alt="Bike" class="grid-item">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-89.jpg" alt="Bike" class="grid-item grid-item-2">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-92.jpg" alt="Bike" class="grid-item">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-95.jpg" alt="Bike" class="grid-item">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-99.jpg" alt="Bike" class="grid-item">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-104.jpg" alt="Bike" class="grid-item">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-106.jpg" alt="Bike" class="grid-item">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-116.jpg" alt="Bike" class="grid-item">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-128.jpg" alt="Bike" class="grid-item">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-168.jpg" alt="Bike" class="grid-item grid-item-2">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-135.jpg" alt="Bike" class="grid-item">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-136.jpg" alt="Bike" class="grid-item">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-148.jpg" alt="Bike" class="grid-item grid-item-2">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-155.jpg" alt="Bike" class="grid-item">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-156.jpg" alt="Bike" class="grid-item">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-166.jpg" alt="Bike" class="grid-item">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-179.jpg" alt="Bike" class="grid-item">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-180.jpg" alt="Bike" class="grid-item">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-184.jpg" alt="Bike" class="grid-item grid-item-2">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-188.jpg" alt="Bike" class="grid-item grid-item-2">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-190.jpg" alt="Bike" class="grid-item">
        <img src="/img/subpages/christmas-experience/icf-christmas-experience-199.jpg" alt="Bike" class="grid-item">
    </div>
</div>
<footer class="dark-bg-2 py-3">
    <div class="py-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-3">
                    <a class="navbar-brand" href="/" id="lyschneider">lyschneider</a>
                </div>
                <div class="col-6 text-center mt-3">
                    <p class="text-center text-muted copyright">© 2022 by Levyn Schneider</p>
                </div>
                <div class="col-3 text-end">
                    <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="mailto:lyschneider@icloud.com" role="button"><i class="fa-solid fa-envelope"></i></a>
                    <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="https://www.instagram.com/ly.schneider/" target="_blank" role="button"><i
                        class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="https://github.com/ly-schneider" target="_blank" role="button"><i class="fab fa-github"></i
                        ></a>
                </div>
            </div>
        </div>
    </div>
</footer>

{{ end }}