body, html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #37393a;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.navbar-brand img {
  height: 50px;
}

@media (min-width: 992px) {
  .nav-language-divider a {
    border-right: 2px solid #939393;
    padding-top: 1px;
    margin-top: 7px;
    padding-bottom: 1px;
    margin-bottom: 7px;
  }
}

.nav-link {
  font-size: 20px;
}

.navbar-shadow {
  box-shadow: 5px 5px 15px #242424;
}

.card {
  transition: transform .6s;
  box-shadow: 5px 5px 15px #242424;
  background-color: #37393a;
  color: #e9e9e9 !important;
}

.card:hover {
  transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  text-decoration: none;
}

.footer {
  box-shadow: 5px 5px 15px #242424;
}

/*
#row2 {
    box-shadow: 5px 5px 15px #242424;
    display: table;
    width: 60%;
    height: 200px;
    background-color: #37393a;
    transition: transform .6s;
}
*/
