{{ define "main" }}
<div class="container flex-shrink-0">
    <div class="row justify-content-center">
        <div class="col-xxl-10 col-xl-12 col-lg-12 col-md-14 col-sm-16 mt-5 px-4">
            <div class="card">
                <h3 class="card-header">
                    Über mich
                </h3>
                <div class="card-body">
                    <p class="card-text col-md-6">
                        Ich bin 12 Jahre alt. Lebe in der Schweiz in der Nähe von Bern und meine Hobbies sind:
                    </p>
                    <ul>
                        <li>Programmieren</li>
                        <li>Tischtennis</li>
                        <li>Unihockey</li>
                        <li>Fotografieren</li>
                    </ul>
                    <p class="card-text col-md-6">
                        Ausserdem gehe ich noch jede Woche ins Colearning. Dort:
                    </p>
                    <ul>
                        <li>Programmiere ich</li>
                        <li>Mache Projekte</li>
                        <li>Schreibe <a href="https://levynblog.netlify.app/" target="_blank" style="text-decoration: underline;">Blogs</a></li>
                    </ul>
                    <p class="card-text col-md-6">
                        Ich wohne mit meiner Mutter mit meinem Vater mit meiner Schwester und mit unserem Hund zusammen.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}