{{ define "main" }}

<div class="container me-0 pe-0 d-flex align-items-center min-vh-100">
    <div class="position-absolute collection-back">
        <a href="javascript:history.back();"><button class="btn-back btn-b-color-4"><i
                    class="fa-solid fa-arrow-left"></i></button></a>
    </div>
    <div class="row d-flex align-items-center">
        <div class="position-absolute col div-collection">
            <h1>ICF Take Heart Musical</h1>
            <p>Das ICF Take Heart Musical war ein riesen Event von ICF Zürich wo ich fotografieren durfte. Es war wieder einmal
                sehr cool bei so einem grossen Event mitmachen zu dürfen.</p>
        </div>
        <div class="col col-collection">
            <img src="/img/subpages/take-heart/take-heart-97.jpg"
                class="d-block w-100 image-collection" alt="Bike 2">
        </div>
    </div>
    <div class="position-absolute collection-scroll">
        <p>SCROLL<i class="fa-solid fa-arrow-down mt-2"></i></p>
    </div>
</div>
<div class="container-fluid mx-0 px-0 mt-5 mb-5 pb-5">
    <div class="pswp-gallery grid" id="galerie">
        <div class="grid-sizer"></div>
        <a href="/img/subpages/take-heart/take-heart-3.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-3.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-7.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-7.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-10.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-10.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-12.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-12.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-15.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-15.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-18.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-18.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-21.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-21.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-23.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-23.jpg" alt="ICF Christmas Experience"
                class="grid-item grid-item-2"></a>
        <a href="/img/subpages/take-heart/take-heart-24.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-24.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-25.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-25.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-26.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-26.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-28.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-28.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-29.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-29.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-32.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-32.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-33.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-33.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-34.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-34.jpg" alt="ICF Christmas Experience"
                class="grid-item grid-item-2"></a>
        <a href="/img/subpages/take-heart/take-heart-35.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-35.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-37.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-37.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-38.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-38.jpg" alt="ICF Christmas Experience"
                class="grid-item grid-item-2"></a>
        <a href="/img/subpages/take-heart/take-heart-39.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-39.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-40.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-40.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-41.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-41.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-42.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-42.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-43.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-43.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-44.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-44.jpg" alt="ICF Christmas Experience"
                class="grid-item grid-item-2"></a>
        <a href="/img/subpages/take-heart/take-heart-45.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-45.jpg" alt="ICF Christmas Experience"
                class="grid-item grid-item-2"></a>
        <a href="/img/subpages/take-heart/take-heart-46.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-46.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-47.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-47.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-48.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-48.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-49.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-49.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-52.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-52.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-53.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-53.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-54.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-54.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-55.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-55.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-56.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-56.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-57.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-57.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-58.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-58.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-59.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-59.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-60.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-60.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-61.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-61.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-62.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-62.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-63.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-63.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-64.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-64.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-65.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-65.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-66.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-66.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-67.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-67.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-68.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-68.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-69.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-69.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-73.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-73.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-76.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-76.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-78.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-78.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-82.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-82.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-84.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-84.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-85.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-85.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-86.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-86.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-87.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-87.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-88.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-88.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-89.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-89.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-90.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-90.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-91.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-91.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-92.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-92.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-93.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-93.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-94.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-94.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-95.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-95.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-96.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-96.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-97.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-97.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-98.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-98.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-99.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-99.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-100.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-100.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
        <a href="/img/subpages/take-heart/take-heart-102.jpg" data-pswp-width=""
            data-pswp-height="" target="_blank"><img
                src="/img/subpages/take-heart/take-heart-102.jpg" alt="ICF Christmas Experience"
                class="grid-item"></a>
    </div>
</div>

<script type="module">
    import PhotoSwipeLightbox from '/photoswipe/dist/photoswipe-lightbox.esm.js';
    const lightbox = new PhotoSwipeLightbox({
        gallery: '#galerie',
        children: 'a',
        pswpModule: () => import('/photoswipe/dist/photoswipe.esm.js')
    });

    async function initLightbox() {
        const galerie = document.getElementById("galerie");
        const children = await galerie.querySelectorAll("a").forEach(async function (elem) {
            const img = new Image();
            let imgWidth;
            let imgHeight;
            img.onload = async function () {
                imgWidth = this.width;
                imgHeight = this.height;
                elem.setAttribute("data-pswp-width", imgWidth);
                elem.setAttribute("data-pswp-height", imgHeight);
            }
            img.src = elem.firstChild.src;
        });
        lightbox.init();
    }

    initLightbox();

</script>

{{ end }}