{{ define "main" }}

<div class="container me-0 pe-0 d-flex align-items-center min-vh-100">
    <div class="position-absolute collection-back">
        <a href="javascript:history.back();"><button class="btn-back"><i
                    class="fa-solid fa-arrow-left"></i></button></a>
    </div>
    <div class="row d-flex align-items-center">
        <div class="position-absolute col div-collection">
            <h1>Ragnar</h1>
            <p>Das erste mal wo ich Hundefotografie ausprobiert habe. Die Bilder sind im Endeffekt ziemlich gut geworden.</p>
        </div>
        <div class="col col-collection">
            <img src="/img/subpages/ragnar/ragnar-2.jpg" class="d-block w-100 image-collection" alt="Bike 2">
        </div>
    </div>
    <div class="position-absolute collection-scroll">
        <p>SCROLL<i class="fa-solid fa-arrow-down mt-2"></i></p>
    </div>
</div>
<div class="container-fluid mx-0 px-0 mt-5 mb-5 pb-5">
    <div class="grid">
        <div class="grid-sizer"></div>
        <img src="/img/subpages/ragnar/ragnar-1.jpg" alt="Bike 1" class="grid-item">
        <img src="/img/subpages/ragnar/ragnar-6.jpg" alt="Bike 1" class="grid-item grid-item-2">
        <img src="/img/subpages/ragnar/ragnar-3.jpg" alt="Bike 1" class="grid-item">
        <img src="/img/subpages/ragnar/ragnar-4.jpg" alt="Bike 1" class="grid-item">
        <img src="/img/subpages/ragnar/ragnar-5.jpg" alt="Bike 1" class="grid-item">
    </div>
</div>

{{ end }}