{{ define "style" }}
<style>
    html,
    body {
        background-color: #131313;
    }
</style>
{{ end }}
{{ define "main" }}

<div class="container me-0 pe-0 d-flex align-items-center min-vh-100">
    <div class="position-absolute collection-back">
        <a href="javascript:history.back();"><button class="btn btn-back"><i
                    class="fa-solid fa-arrow-left"></i></button></a>
    </div>
    <div class="row d-flex align-items-center">
        <div class="position-absolute col div-collection">
            <h1>Hochzeit Xenia & Joris</h1>
            <p>Ich hatte die Chance bei einer extrem talentierten Hochzeitsfotografin, <a href="https://samiraherzog.com/de/" target="_blank">Samira Herzog</a> beim Apéro zu assistieren.</p>
        </div>
        <div class="col col-collection">
            <img src="/img/fotografie/wedding-xenia-joris/wedding-10.jpg" class="d-block w-100 image-collection" alt="Wedding">
        </div>
    </div>
    <div class="position-absolute collection-scroll">
        <p>SCROLL<i class="fa-solid fa-arrow-down mt-2"></i></p>
    </div>
</div>
<div class="container-fluid mx-0 px-0 mt-5 mb-5 pb-5">
    <div class="grid">
        <div class="grid-sizer"></div>
        <img src="/img/fotografie/wedding-xenia-joris/wedding-2.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-6.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-7.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-10.jpg" alt="Wedding" class="grid-item grid-item-2">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-12.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-14.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-8.jpg" alt="Wedding" class="grid-item grid-item-2">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-15.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-17.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-20.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-22.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-24.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-27.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-28.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-31.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-32.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-36.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-37.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-40.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-46.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-50.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-54.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-50.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-60.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-64.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-67.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-76.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-79.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-83.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-85.jpg" alt="Wedding" class="grid-item">
        <img src="/img/fotografie/wedding-xenia-joris/wedding-99.jpg" alt="Wedding" class="grid-item">
    </div>
</div>
<footer class="pb-0 dark-bg-2 pt-5">
    <div class="py-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-3">
                    <a class="navbar-brand" href="/" id="lyschneider">lyschneider</a>
                </div>
                <div class="col-6 text-center mt-3">
                    <p class="text-center text-muted copyright">© 2022 by Levyn Schneider</p>
                </div>
                <div class="col-3 text-end">
                    <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="mailto:lyschneider@icloud.com" role="button"><i class="fa-solid fa-envelope"></i></a>
                    <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="https://www.instagram.com/ly.schneider/" target="_blank" role="button"><i
                        class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="https://github.com/ly-schneider" target="_blank" role="button"><i class="fab fa-github"></i
                        ></a>
                </div>
            </div>
        </div>
    </div>
</footer>

{{ end }}

{{ define "body_include" }}

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<script>
    $('.grid').masonry({
        itemSelector: '.grid-item',
        columnWidth: '.grid-sizer',
        percentPosition: true
    })
</script>

{{ end }}