body, html {
  font-family: "Roboto Mono", monospace;
  background-image: linear-gradient(to bottom, #434343 0%, black 100%);
  background-attachment: fixed;
  text-decoration: none!important;
  box-sizing: border-box;
  scroll-behavior: smooth!important;
}

:root {
  --color-nav: #000000;
  --color-background: #222222;
  --color-symbols: #ffffff8c;
  --color-heading: #08fdd8;
  --color-text: #ffffff;
  --color-hover: #8c8c8c;
}

a {
  text-decoration: none!important;
}

.link {
  border-bottom: 1px solid #2841ff;
  transition: 0.3s;
}

.link:hover {
  color: #2437c6;
  border-bottom: 1px solid #2437c6;
}

progress {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  transform: translate(-48%, -200%);
}

/* Navbar */

.navbar-brand {
  font-size: 28px;
  color: #2841ff;
  transition: 0.3s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 150%);
  font-size: 80px;
}

#navbar-brand-span {
  transition: 0.3s;
  color: #c2c2c2;
}

.nav a {
  padding-left: 20px;
  font-size: 24px;
  transition: 0.3s;
  color: #2841ff;
}

.nav:hover {
  cursor: pointer;
}

.nav a:hover, .navbar-brand:hover, #navbar-brand-span:hover {
  color: var(--color-hover)
}

.active {
  color: #8c8c8c!important;
}

/* Line */

.line, .line2, .line-target {
  position: fixed;
  z-index: 2;
}

.line {
  top: 40vh;
  bottom: 0;
  left: 400px;
  width: 2px;
  background: linear-gradient(#2841ff, #222222);
}

.line-target {
  top: calc(40vh - 8px);
  left: 397px;
  width: 9px;
  height: 9px;
}

.line-target .circle, .line-target .pulse {
  position: absolute;
  width: 9px;
  height: 9px;
  transform-origin: center;
  border-radius: 3rem;
  background: transparent;
  border: 1px solid #2841ff;
}

.line2 {
  top: 0;
  bottom: 60vh;
  left: 400px;
  width: 2px;
  background: linear-gradient(#434343ec, #2841ff7c);
}

/* Text Home */

#title {
  color: #c2c2c2;
  font-size: 58px;
}

#blue-span {
  color: #2841ff;
}

.ms-10-home {
  margin-left: 26rem!important;
}

.mt-10-home {
  margin-top: 15rem!important;
}

.mt-30-home {
  margin-top: 59rem!important
}

.full-name {
  line-height: 12px;
  color: #2841ff;
}

.description {
  line-height: 20px;
  color: #c2c2c2;
}

.hobbies {
  color: #c2c2c2;
  line-height: 30px;
}

#invisible-one {
  color: white;
  position: absolute;
  top: 95vh;
}

#invisible-two {
  color: white;
  position: absolute;
  top: 347vh;
}