// Unbounded Font
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
// Ubuntu
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

// ----- Colors ----- //
$background: #010101;
$text: #ffffff;
$primary: #245865;
$secondary: #9BA39D;

// ----- Fonts ----- //
$ubuntu: 'Ubuntu', sans-serif;
$unbounded: 'Unbounded', cursive;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    text-decoration: none !important;
    overflow-x: hidden;
    font-family: 'Unbounded', cursive;
    background-color: $background;
    color: $text;
}

// ----- Button ----- //

.btn {
    border: 3px solid $primary;
    border-radius: 15px;
    color: $text;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: calc(0.7rem + 1.5vw);
    padding-right: calc(2rem + 5vw);
    padding-left: calc(2rem + 5vw);
    transition: 0.5s background-color;

    &:hover {
        background-color: $primary;
        color: $text;
    }

    &:focus {
        background-color: $primary;
        color: $text;
    }
}

@media (min-width: 815px) {
    .btn {
        font-size: 1.3rem;
        padding-right: 5rem;
        padding-left: 5rem;
    }
}

// ----- Link ----- //
a {
    color: $secondary;
    transition: 0.3s;
    text-decoration: none;
    font-weight: 500;

    &:hover {
        color: #dadada;
    }
}

// ----- Landing Page ----- //
.bg-video,
video {
    object-fit: cover;
}

.brand-name {
    font-weight: 800;
    color: $text;
    font-size: calc(1.525rem + 3.3vw);
}

.subtitle {
    color: $secondary;
    font-weight: 500;
    font-size: calc(0.7rem + 1.5vw);
}

@media (min-width: 815px) {
    .brand-name {
        font-size: 3.5rem;
    }

    .subtitle {
        font-size: 1.3rem;
    }
}

// ----- Über mich ----- //
.title-overhead {
    font-family: $ubuntu;
    color: #5091A1;
    font-weight: 700;
}

.ueber-bold {
    font-weight: 600;
}

.uebermich-text p:not(.title-overhead) {
    font-family: $unbounded;
    font-size: 16px;
    font-weight: 300;
}

.uebermich {
    left: 50px;
}

.uebermich-text {
    top: 50px;
    background-color: $background;
    border: 3px solid $secondary;
    left: -50px;
}

@media (max-width: 575px) {
    .uebermich {
        left: -55px;
    }

    .uebermich-text {
        top: -40px;
        left: 100px;
    }
}

@media (min-width: 575px) {
    .uebermich {
        left: -150px;
        height: auto;
    }

    .uebermich-text {
        top: -290px;
        left: 290px;
    }
}

@media (min-width: 768px) {
    .uebermich {
        left: 50px;
    }

    .uebermich-text {
        top: 50px;
        left: -50px;
    }
}

@media (min-width: 992px) {
    .uebermich {
        left: 50px;
    }

    .uebermich-text {
        top: 50px;
        left: -50px;
    }
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #intro {
        margin-top: -58.59px;
    }
}

// ----- Film ----- //
#film {
    h1.border-bottom {
        border-bottom: 3px solid #ffffff !important;
    }

    p {
        font-weight: 500;
        font-size: 20px;

        &:nth-of-type(2) {
            color: $secondary;
            font-size: 16px;
        }
    }

    .btn {
        font-size: calc(0.5rem + 1vw);
        padding-right: calc(1rem + 4vw);
        padding-left: calc(1rem + 4vw);
    }
}

@media (min-width: 1280px) {
    #film .btn {
        font-size: 18px;
        padding-right: 4rem;
        padding-left: 4rem;
    }
}

// ----- Divider ----- //
.divider {
    fill: rgb(255, 255, 255);
}

// ----- Foto ----- //
#foto {
    background-color: #ffffff;
    color: #010101;

    h1.border-bottom {
        border-bottom: 3px solid #010101 !important;
    }

    .mehr-button {
        position: absolute;
        font-size: calc(0.5rem + 1vw);
        padding-right: calc(1rem + 4vw);
        padding-left: calc(1rem + 4vw);
    }

    img {
        filter: brightness(0.5);
        transition: 0.6s;

        &:hover {
            filter: brightness(1);
        }
    }

    p {
        font-weight: 500;
        font-size: 20px;
    }
}

@media (min-width: 1280px) {
    .mehr-button {
        font-size: 18px;
        padding-right: 4rem;
        padding-left: 4rem;
    }
}

// ----- Kontakt Formular ----- //
form {
    label {
        font-size: 15px;
        font-family: $ubuntu;
        font-weight: 500;
    }

    .btn {
        font-size: 16px;
    }
}

.form-control {
    background-color: $background;
    color: $text;
    border: 3px solid $primary;
    border-radius: 15px !important;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    transition: 0.3s;

    &:focus {
        background-color: $background;
        color: $text;
        border: 3px solid white;
    }
}

textarea {
    resize: none;
}

// ----- Footer ----- //
footer {
    .brand-name a {
        font-size: 30px;
        font-weight: 800;
        color: $text;
        transition: 0.5s;

        &:hover {
            color: $secondary;
        }
    }

    p {
        font-size: 14px;
    }

    .icons {
        a {
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: inline-block;
            margin: 0;
            padding: 0;
            transition: 0.3s;
        }

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
        }
    }

    .btn-outline-light {
        color: #ffffff;
        border: 2px solid #ffffff !important;

        &:hover {
            color: #010101;
            border: 2px solid #ffffff !important;
            background-color: #ffffff;
        }
    }
}

// ----- Subpages ----- //
.image-collection {
    margin-right: 0 !important;
    padding: 2rem 0rem 2rem 7rem;
}

.div-collection {
    left: 3%;
    padding-left: 0 !important;

    h1 {
        font-size: 40px;
    }

    p {
        max-width: 35vw;
        font-weight: 500;
        font-size: 16px;
        font-family: $ubuntu;
    }
}

@media (max-width: 992px) {
    .div-collection p {
        max-width: 45vw;
    }
}

@media (max-width: 575px) {
    .div-collection {
        top: 13%;

        h1 {
            font-size: 35px;
        }

        p {
            font-size: 14px;
            max-width: 100%;
            padding-right: 1rem;
        }
    }

    .col-collection {
        padding-left: 0 !important;
    }

    .image-collection {
        padding: 2rem 1rem 1rem 1rem !important;
    }
}

.collection-back {
    top: 5%;
    left: 3%;
}

.collection-scroll {
    bottom: 2%;
    left: 3%;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.btn-back {
    background-color: $primary;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.5s;
    color: #ffffff !important;
    border: none !important;

    &:hover {
        background-color: #ffffff;

        i {
            color: #010101;
        }
    }
}

// Grid
.grid-sizer,
.grid-item {
    width: 20%;
    padding: 5px;
}

.grid-item-2 {
    width: 40%;
}

@media (max-width: 992px) {

    .grid-sizer,
    .grid-item {
        width: 25%;
    }

    .grid-item-2 {
        width: 50%;
    }
}