body,
html {
    background-color: #434343;
    font-family: "Roboto Mono", monospace;
    background-image: linear-gradient(to bottom, #434343 0%, black 100%);
    background-attachment: fixed;
    text-decoration: none!important;
    box-sizing: border-box;
    scroll-behavior: smooth!important;
    overflow: hidden;
}

:root {
    --color-nav: #000000;
    --color-background: #222222;
    --color-symbols: #ffffff8c;
    --color-heading: #08fdd8;
    --color-text: #ffffff;
    --color-hover: #8c8c8c;
    --blue: #2841ff;
    --purple: #9418ed;
    --green: #056005;
    --red: #9b1919;
}

/* Scroll Snapping */

.parent {
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
}

/* Links */

a {
    text-decoration: none!important;
}

.link {
    border-bottom: 1px solid #2841ff;
    transition: 0.3s;
}

.link:hover {
    color: #2437c6;
    border-bottom: 1px solid #2437c6;
}


/* Navbar */

.navbar-brand {
    font-size: 28px!important;
    color: #2841ff;
    transition: 0.3s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
    font-size: 80px;
}

#navbar-brand-span {
    transition: 0.3s;
    color: #c2c2c2;
}

.nav a {
    padding-left: 20px;
    font-size: 24px;
    transition: 0.3s;
    color: #2841ff;
}

.nav:hover {
    cursor: pointer;
}

.nav a:hover,
.navbar-brand:hover,
#navbar-brand-span:hover {
    color: var(--color-hover)
}

.active {
    color: #8c8c8c!important;
}


/* Line */

.line,
.line2,
.line-target {
    position: fixed;
    z-index: 2;
}

.line {
    top: calc(40vh - 92px);
    bottom: 0;
    left: 220px;
    width: 2px;
    background: linear-gradient(#2841ff, #222222);
}

.line-target {
    top: calc(40vh - 100px);
    left: calc(220px - 3px);
    width: 9px;
    height: 9px;
}

.line-target .circle,
.line-target .pulse {
    position: absolute;
    width: 9px;
    height: 9px;
    transform-origin: center;
    border-radius: 3rem;
    background: transparent;
    border: 1px solid #2841ff;
}

.line2 {
    top: 0;
    bottom: 60vh;
    left: 220px;
    width: 2px;
    background: linear-gradient(#434343ec, #2841ff7c);
}


/* Positioning */

.ml-custom {
    margin-left: 14.8rem!important;
}

.mt-custom {
    margin-top: 9rem!important;
}

.mt-custom-1 {
    margin-top: 0rem!important;
}

.mt-custom-2 {
    margin-top: 0rem!important
}

.pb-custom {
    padding-bottom: 24rem!important;
}

.pb-custom-1 {
    margin-bottom: -40rem!important;
}

.mt-none {
    margin-top: -20px!important;
}

.custom-height {
    height: 81vh!important;
}

.pt-custom {
    padding-top: 9rem!important;
}

/* Sections */

.sections {
    height: 100vh;
}

/* Text */

.title {
    color: #c2c2c2;
    font-size: 110px;
}

.sub-title {
    font-size: 20px;
}

.blue-span {
    color: #2841ff;
}

.purple-span {
    color: #9418ed;
}

.green-span {
    color: #056005;
}

.red-span {
    color: #9b1919;
}

.full-name {
    line-height: 12px;
    color: #2841ff;
}

.description {
    line-height: 26px;
    color: #c2c2c2;
}

.hobbies {
    color: #c2c2c2;
    line-height: 30px;
}

/* Buttons */

.showMore-blue {
    border-radius: 20px;
    background: linear-gradient(#2437c6, #2841ff7c);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #929bdf;
}

.showMore-purple {
    border-radius: 20px;
    background: linear-gradient(#9418ed, #7b05d0);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #bdc5fc;
}

.showMore-green {
    border-radius: 20px;
    background: linear-gradient(#056005, #074b07);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #bdc5fc;
}

.showMore-red {
    border-radius: 20px;
    background: linear-gradient(#9b1919, #8a0c0c);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #bdc5fc;
}

.btn-red {
    background-color: #9b1919;
    color: #c2c2c2;
    font-size: 16px;
}

/* Form */

.form-email {
    width: 30%;
}

.form-message {
    width: 30%;
}

.form-label {
    color: #c2c2c2;
    font-size: 20px;
}