@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

// Colors
$background-dark: #0b0b0b;
$background-light: #dadada;
$background-light-1: #edecf1;
$font-color: #ffffff;
$font-color-dark: #0b0b0b;
$primary-color: #f5e0bf;
// Title
$title-font: 'Ubuntu', sans-serif;
$title-size: 40px;
$title-size-sm: 28px;
$title-weight: 600;
$title-weight-sm: 500;
// Text
$text-font: 'Montserrat', sans-serif;
$text-size: 16px;
$text-weight: 400;

// General CSS
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    text-decoration: none !important;
    overflow-x: hidden;
    color: $font-color;
}

// Definied
h1 {
    font-family: $title-font;
    font-size: $title-size;
    font-weight: $title-weight;
    color: $font-color;
}

h3 {
    font-family: $title-font;
    font-size: $title-size-sm;
    font-weight: $title-weight;
    color: $font-color;
}

p {
    font-family: $text-font;
    font-size: $text-size;
    font-weight: $text-weight;
    color: $font-color;
}

a {
    color: $primary-color;
    font-weight: 500;
    text-decoration: none !important;

    &:hover {
        color: #f3ede2;
    }
}

// Backgrounds
.background-dark {
    background-color: $background-dark;

    h1,
    p {
        color: $font-color;
    }
}

.background-light {
    background-color: $background-light;

    h1,
    p {
        color: $font-color-dark;
    }
}

.background-light-2 {
    background-color: $background-light-1;

    h1,
    p {
        color: $font-color-dark;
    }
}

.background-grey {
    background-color: #a6a6a6;

    h1, p {
        color: $font-color-dark;
    }
}

.text-light {
    color: $font-color;
}

.text-dark {
    color: $font-color-dark!important;
}

.title-overhead {
    color: rgb(245, 224, 191) !important;
    font-family: $title-font;
    font-weight: 700;
    font-size: 14px;
}

.flip {
    transform: rotate(180deg);
}

.p-6 {
    padding: 5rem 3rem 5rem 3rem;
}

.px-6 {
    padding-left: 8rem;
    padding-right: 8rem;
}

// Buttons
.btn-main {
    border: 2px solid $primary-color;
    color: $font-color;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    transition: 0.3s;
    font-family: $title-font;

    &:hover {
        color: $font-color;
        border-color: #fff;
    }
}

.btn-back {
    background-color: $primary-color;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.3s;
    color: #0b0b0b !important;

    &:hover {
        background-color: #faf4e8;
    }
}

// Navigation
.nav-link {
    font-family: $text-font;
    font-weight: $text-weight;
    color: white !important;
    font-size: $text-size;

    &:hover {
        color: #dddddd !important;
    }
}

.navbar-brand {
    font-family: $title-font;
    font-weight: $title-weight-sm;
    color: $font-color;
    font-size: $title-size;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler-icon {
    width: 2em !important;
    height: 2em !important;
}

// Media Query
@media (max-width: 550px) {
    .image-section {
        h1 {
            font-size: 30px;
        }

        .mx-5 {
            margin-left: 1rem !important;
            margin-right: 1rem !important;
        }
    }

    .navbar-brand {
        margin-left: 1rem !important;
        font-size: 30px;
    }

    .navbar-toggler {
        margin-right: 1rem !important;
    }

    .navbar-toggler-icon {
        width: 1.5em !important;
        height: 1.5em !important;
    }
}

@media (max-width: 340px) {
    .navbar-brand {
        font-size: 26px;
    }

    .navbar-toggler-icon {
        width: 1.25em !important;
        height: 1.25em !important;
    }
}

@media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
        margin-top: 1.5rem !important;
        margin-right: 0 !important;
    }

    .nav-item {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
}

// Über mich
.uebermich {
    left: 50px;
}

.uebermich-text {
    top: 50px;
    background-color: #1c1c1c;
    left: -50px;
}

@media (max-width: 575px) {
    .uebermich {
        left: -55px;
    }

    .uebermich-text {
        top: -40px;
        left: 100px;
    }
}

@media (min-width: 575px) {
    .uebermich {
        left: -150px;
        height: auto;
    }

    .uebermich-text {
        top: -290px;
        left: 290px;
    }
}

@media (min-width: 768px) {
    .uebermich {
        left: 50px;
    }

    .uebermich-text {
        top: 50px;
        left: -50px;
    }
}

@media (min-width: 992px) {
    .uebermich {
        left: 50px;
    }

    .uebermich-text {
        top: 50px;
        left: -50px;
    }
}

// Fotografie
.fotografie-grid {
    background-color: #eeeeee;
    box-shadow: 5px 0px 10px #cfcfcf;
    border-radius: 5px;

    .img-left {
        border-radius: 5px 0px 0px 5px;
    }

    .img-right {
        border-radius: 0px 5px 5px 0px;
    }
}

.galerie-grid-img {
    img {
        transition: 0.2s;
    }

    &:hover {
        img {
            filter: brightness(.6);
        }
    }
}

// Image Text
.image-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    .text-center {
        border-bottom: 2px solid white;
    }
}

// Informatik
.informatik {
    img {
        width: 62px;
        height: auto;
    }
}

@media (max-width: 992px) {
    .icon-container {
        display: none;
    }
}

@media (max-width: 575px) {
    .informatik>div {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .projekte {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }
}

// Projekte
.projekte {
    li {
        list-style: none;
        border-left: 2px solid #999999;
        font-size: 18px;
        margin-left: 1px !important;
        font-family: $text-font;
        color: #999999;
        transition: 0.3s;

        a {
            color: inherit;
            text-decoration: none !important;
            transition: 0.3s;

            &:hover {
                color: #ffffff;
            }
        }
    }

    .li-active {
        border-left: 4px solid $primary-color;
        margin-left: 0 !important;
        margin-right: 1px !important;
        color: $font-color;
        transition: 0.3s;

        a {
            color: inherit;
            text-decoration: none !important;
            transition: 0.3s;

            &:hover {
                color: #d4d4d4;
            }
        }
    }

    .date {
        font-size: 14px;
        font-weight: 500;
    }
}

// Carousel
.carousel-item img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

// Kontakt Form
form {
    label {
        font-family: $text-font;
        font-size: 14px;
        font-weight: 600;
        color: $font-color-dark;
    }

    .form-group input,
    .form-group textarea {
        border: 1px solid rgb(0, 0, 0);
        background-color: #ebebeb;
        color: $font-color-dark;
        font-family: $text-font;

        &:focus {
            background-color: #f4f4f4;
            color: $font-color-dark;
        }
    }

    .btn-main {
        color: $font-color-dark;
        font-family: $text-font;
        font-weight: 600;
        border: 3px solid $primary-color;
    }
}

// Footer
footer {
    li a {
        color: $font-color-dark;
        font-family: $text-font;
        font-weight: $text-weight;
        font-size: 14px;
        transition: 0.3s;

        &:hover {
            color: #999999;
        }
    }

    li {
        position: relative;
    }

    .navbar-brand {
        color: $font-color-dark;
        font-size: 30px;
        transition: 0.3s;

        &:hover {
            color: #999999;
        }
    }

    .icons {
        a {
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: inline-block;
            margin: 0;
            padding: 0;
            transition: 0.3s;
        }

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
        }
    }

    .text-muted {
        color: #797979 !important;
    }

    .btn-outline-light {
        color: #0b0b0b;
        border: 2px solid #0b0b0b !important;
    }
}

@media (min-width: 992px) {
    .ul-navbar {
        top: 35px;
        position: relative;
    }
}

@media (max-width: 576px) {
    footer {
        .text-muted {
            font-size: 12px;
        }

        .icons {
            a {
                width: 34px;
                height: 34px;
            }

            i {
                font-size: 16px;
            }
        }

        .navbar-brand {
            font-size: 24px;
        }
    }

    .ul-navbar li {
        padding-right: 0.2rem !important;
        padding-left: 0.2rem !important;

        a {
            font-size: 12px;
        }
    }
}

// Fotografie Sub Pages
.image-collection {
    margin-right: 0 !important;
    padding: 2rem 0rem 2rem 7rem;
}

.div-collection {
    left: 3%;
    padding-left: 0 !important;

    h1 {
        font-size: 40px;
    }

    p {
        max-width: 35vw;
        font-weight: 400;
        font-size: $text-size;
    }
}

@media (max-width: 992px) {
    .div-collection p {
        max-width: 45vw;
    }
}

@media (max-width: 575px) {
    .div-collection {
        top: 13%;

        h1 {
            font-size: 35px;
        }

        p {
            font-size: 14px;
            max-width: 100%;
            padding-right: 1rem;
        }
    }

    .col-collection {
        padding-left: 0 !important;
    }

    .image-collection {
        padding: 2rem 1rem 1rem 1rem !important;
    }
}

.collection-back {
    top: 5%;
    left: 3%;
}

.collection-scroll {
    bottom: 2%;
    left: 3%;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

// Grid
.grid-sizer,
.grid-item {
    width: 20%;
    padding: 5px;
}

.grid-item-2 {
    width: 40%;
}

@media (max-width: 992px) {

    .grid-sizer,
    .grid-item {
        width: 25%;
    }

    .grid-item-2 {
        width: 50%;
    }
}