@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  text-decoration: none !important;
  overflow-x: hidden;
  font-family: 'Unbounded', cursive;
  background-color: #010101;
  color: #ffffff;
}

.btn {
  border: 3px solid #245865;
  border-radius: 15px;
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: calc(0.7rem + 1.5vw);
  padding-right: calc(2rem + 5vw);
  padding-left: calc(2rem + 5vw);
  -webkit-transition: 0.5s background-color;
  transition: 0.5s background-color;
}

.btn:hover {
  background-color: #245865;
  color: #ffffff;
}

.btn:focus {
  background-color: #245865;
  color: #ffffff;
}

@media (min-width: 815px) {
  .btn {
    font-size: 1.3rem;
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

a {
  color: #9BA39D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: #dadada;
}

.bg-video,
video {
  -o-object-fit: cover;
     object-fit: cover;
}

.brand-name {
  font-weight: 800;
  color: #ffffff;
  font-size: calc(1.525rem + 3.3vw);
}

.subtitle {
  color: #9BA39D;
  font-weight: 500;
  font-size: calc(0.7rem + 1.5vw);
}

@media (min-width: 815px) {
  .brand-name {
    font-size: 3.5rem;
  }
  .subtitle {
    font-size: 1.3rem;
  }
}

.title-overhead {
  font-family: "Ubuntu", sans-serif;
  color: #5091A1;
  font-weight: 700;
}

.ueber-bold {
  font-weight: 600;
}

.uebermich-text p:not(.title-overhead) {
  font-family: "Unbounded", cursive;
  font-size: 16px;
  font-weight: 300;
}

.uebermich {
  left: 50px;
}

.uebermich-text {
  top: 50px;
  background-color: #010101;
  border: 3px solid #9BA39D;
  left: -50px;
}

@media (max-width: 575px) {
  .uebermich {
    left: -55px;
  }
  .uebermich-text {
    top: -40px;
    left: 100px;
  }
}

@media (min-width: 575px) {
  .uebermich {
    left: -150px;
    height: auto;
  }
  .uebermich-text {
    top: -290px;
    left: 290px;
  }
}

@media (min-width: 768px) {
  .uebermich {
    left: 50px;
  }
  .uebermich-text {
    top: 50px;
    left: -50px;
  }
}

@media (min-width: 992px) {
  .uebermich {
    left: 50px;
  }
  .uebermich-text {
    top: 50px;
    left: -50px;
  }
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #intro {
    margin-top: -58.59px;
  }
}

#film h1.border-bottom {
  border-bottom: 3px solid #ffffff !important;
}

#film p {
  font-weight: 500;
  font-size: 20px;
}

#film p:nth-of-type(2) {
  color: #9BA39D;
  font-size: 16px;
}

#film .btn {
  font-size: calc(0.5rem + 1vw);
  padding-right: calc(1rem + 4vw);
  padding-left: calc(1rem + 4vw);
}

@media (min-width: 1280px) {
  #film .btn {
    font-size: 18px;
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

.divider {
  fill: white;
}

#foto {
  background-color: #ffffff;
  color: #010101;
}

#foto h1.border-bottom {
  border-bottom: 3px solid #010101 !important;
}

#foto .mehr-button {
  position: absolute;
  font-size: calc(0.5rem + 1vw);
  padding-right: calc(1rem + 4vw);
  padding-left: calc(1rem + 4vw);
}

#foto img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

#foto img:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

#foto p {
  font-weight: 500;
  font-size: 20px;
}

@media (min-width: 1280px) {
  .mehr-button {
    font-size: 18px;
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

form label {
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

form .btn {
  font-size: 16px;
}

.form-control {
  background-color: #010101;
  color: #ffffff;
  border: 3px solid #245865;
  border-radius: 15px !important;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form-control:focus {
  background-color: #010101;
  color: #ffffff;
  border: 3px solid white;
}

textarea {
  resize: none;
}

footer .brand-name a {
  font-size: 30px;
  font-weight: 800;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .brand-name a:hover {
  color: #9BA39D;
}

footer p {
  font-size: 14px;
}

footer .icons a {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .icons i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
}

footer .btn-outline-light {
  color: #ffffff;
  border: 2px solid #ffffff !important;
}

footer .btn-outline-light:hover {
  color: #010101;
  border: 2px solid #ffffff !important;
  background-color: #ffffff;
}

.image-collection {
  margin-right: 0 !important;
  padding: 2rem 0rem 2rem 7rem;
}

.div-collection {
  left: 3%;
  padding-left: 0 !important;
}

.div-collection h1 {
  font-size: 40px;
}

.div-collection p {
  max-width: 35vw;
  font-weight: 500;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}

@media (max-width: 992px) {
  .div-collection p {
    max-width: 45vw;
  }
}

@media (max-width: 575px) {
  .div-collection {
    top: 13%;
  }
  .div-collection h1 {
    font-size: 35px;
  }
  .div-collection p {
    font-size: 14px;
    max-width: 100%;
    padding-right: 1rem;
  }
  .col-collection {
    padding-left: 0 !important;
  }
  .image-collection {
    padding: 2rem 1rem 1rem 1rem !important;
  }
}

.collection-back {
  top: 5%;
  left: 3%;
}

.collection-scroll {
  bottom: 2%;
  left: 3%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
}

.btn-back {
  background-color: #245865;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ffffff !important;
  border: none !important;
}

.btn-back:hover {
  background-color: #ffffff;
}

.btn-back:hover i {
  color: #010101;
}

.grid-sizer,
.grid-item {
  width: 20%;
  padding: 5px;
}

.grid-item-2 {
  width: 40%;
}

@media (max-width: 992px) {
  .grid-sizer,
  .grid-item {
    width: 25%;
  }
  .grid-item-2 {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */