<!-- Footer -->
<div class="mt-auto border-top">
  <footer class="d-flex container flex-wrap justify-content-between align-items-center py-3 my-4 footer-light">
    <p class="col-md-4 mb-0 brand-name d-flex align-self-center"><a href="/">lyschneider</a></p>
    <p class="col-md-4 d-flex align-items-center justify-content-center mt-3 mt-md-0 mb-3 mb-md-0 me-md-auto text-muted">
      {{ .Site.Params.copyright }}
    </p>
    <div class="col-md-4 text-end icons">
      <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="mailto:lyschneider@icloud.com"
        role="button"><i class="fa-solid fa-envelope"></i></a>
      <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="https://www.instagram.com/ly.schneider/"
        target="_blank" role="button"><i class="fab fa-instagram"></i></a>
      <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="https://github.com/ly-schneider"
        target="_blank" role="button"><i class="fab fa-github"></i></a>
    </div>
  </footer>
</div>