<footer class="footer py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 title-footer">Navigation
                <ul class="ul-footer-link">
                    <li class="mb-1 mt-2"><a href="/ueber/" class="link-footer">Über mich</a></li>
                    <li class="mb-1"><a href="/projekte/" class="link-footer">Projekte</a></li>
                    <li class="mb-1"><a href="/kontakt/" class="link-footer">Kontakt</a></li>
                </ul>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 title-footer">Kontakt
                <ul class="ul-footer-link">
                    <li class="mb-1 mt-2">
                        <i class="fa fa-envelope"></i><a href="mailto:lyschneider@icloud.com" class="link-footer">
                            E-Mail</a>
                    </li>
                    <li>
                        <i class="fa fa-instagram instagram-icon" style="font-size: 17px;"></i><a
                            href="https://www.instagram.com/ly.schneider/" target="_blank" class="link-footer">
                            Instagram</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center pt-4 copyright">
        &copy; 2021 Copyright:
        <a target="_blank" href="https://lyschneider.ch/">lyschneider.ch</a>
    </div>
</footer>