<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark py-3">
  <div class="container-fluid">
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <div class="navbar-nav align-items-center d-flex">
        <a class="nav-link mx-3 navbar-brand" href="#top">lyschneider</a>
        <i class="fa-solid fa-circle nav-link mx-3 align-self-center d-flex"></i>
        <a class="nav-link mx-3" id="nav-ueber-mich" href="#ueber-mich">Über mich</a>
        <a class="nav-link mx-3" id="nav-film" href="#film">Film</a>
        <a class="nav-link mx-3" id="nav-foto" href="#foto">Foto</a>
        <a class="nav-link mx-3" id="nav-kontakt" href="#kontakt">Kontakt</a>
      </div>
    </div>
  </div>
</nav>