<nav id="top" class="navbar navbar-expand-sm pt-0">
    <div class="container-fluid container-nav">
        <!-- <img class="logo-img" src="/img/logo-2.png" alt="Logo"> -->
        <a class="navbar-brand ms-2 mt-2" href="/" id="lyschneider">lyschneider</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav pe-2">
                <li class="nav-item">
                    <a class="nav-link" href="#uebermich">Über mich</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#informatik">Informatik</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#fotografie">Fotografie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#kontakt">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>