{{ define "main" }}

<div class="container me-0 pe-0 d-flex align-items-center min-vh-100">
    <div class="position-absolute collection-back">
        <a href="javascript:history.back();"><button class="btn-back btn-b-color-2"><i
                    class="fa-solid fa-arrow-left"></i></button></a>
    </div>
    <div class="row d-flex align-items-center">
        <div class="position-absolute col div-collection">
            <h1>ICF Bern</h1>
            <p>Ich bin einer der Hauptfotografen dort, und ich liebe es, Neues auszuprobieren, weil niemand spezielle
                Erwartungen hat. Ich konnte meine Fotografie dort sehr verbessern.</p>
        </div>
        <div class="col col-collection">
            <img src="/img/subpages/icf-bern/icf-bern-summer-38.jpg" class="d-block w-100 image-collection"
                alt="ICF Bern">
        </div>
    </div>
    <div class="position-absolute collection-scroll">
        <p>SCROLL<i class="fa-solid fa-arrow-down mt-2"></i></p>
    </div>
</div>
<div class="container-fluid mx-0 px-0 mt-5 mb-5 pb-5">
    <div class="pswp-gallery grid" id="galerie">
        <div class="grid-sizer"></div>
        <a href="/img/subpages/icf-bern/icf-bern-2023-1.jpg" data-pswp-width="" data-pswp-height="" target="_blank"><img
                src="/img/subpages/icf-bern/icf-bern-2023-1.jpg" alt="ICF Bern 2023 1"
                class="grid-item grid-item-2"></a>
        <a href="/img/subpages/icf-bern/icf-bern-2023-2.jpg" data-pswp-width="" data-pswp-height="" target="_blank"><img
                src="/img/subpages/icf-bern/icf-bern-2023-2.jpg" alt="ICF Bern 2023 2" class="grid-item"></a>
        <a href="/img/subpages/icf-bern/icf-bern-2023-3.jpg" data-pswp-width="" data-pswp-height="" target="_blank"><img
                src="/img/subpages/icf-bern/icf-bern-2023-3.jpg" alt="ICF Bern 2023 3"
                class="grid-item grid-item-2"></a>
        <a href="/img/subpages/icf-bern/icf-bern-2023-4.jpg" data-pswp-width="" data-pswp-height="" target="_blank"><img
                src="/img/subpages/icf-bern/icf-bern-2023-4.jpg" alt="ICF Bern 2023 4"
                class="grid-item grid-item-2"></a>
        <a href="/img/subpages/icf-bern/icf-bern-2023-5.jpg" data-pswp-width="" data-pswp-height="" target="_blank"><img
                src="/img/subpages/icf-bern/icf-bern-2023-5.jpg" alt="ICF Bern 2023 5" class="grid-item"></a>
        <a href="/img/subpages/icf-bern/icf-bern-2023-6.jpg" data-pswp-width="" data-pswp-height="" target="_blank"><img
                src="/img/subpages/icf-bern/icf-bern-2023-6.jpg" alt="ICF Bern 2023 6" class="grid-item"></a>
        <a href="/img/subpages/icf-bern/icf-bern-2023-7.jpg" data-pswp-width="" data-pswp-height="" target="_blank"><img
                src="/img/subpages/icf-bern/icf-bern-2023-7.jpg" alt="ICF Bern 2023 7" class="grid-item"></a>
        <a href="/img/subpages/icf-bern/icf-bern-2023-9.jpg" data-pswp-width="" data-pswp-height="" target="_blank"><img
                src="/img/subpages/icf-bern/icf-bern-2023-9.jpg" alt="ICF Bern 2023 9" class="grid-item"></a>
        <a href="/img/subpages/icf-bern/icf-bern-2023-11.jpg" data-pswp-width="" data-pswp-height=""
            target="_blank"><img src="/img/subpages/icf-bern/icf-bern-2023-11.jpg" alt="ICF Bern 2023 11"
                class="grid-item"></a>
        <a href="/img/subpages/icf-bern/icf-bern-2023-8.jpg" data-pswp-width="" data-pswp-height="" target="_blank"><img
                src="/img/subpages/icf-bern/icf-bern-2023-8.jpg" alt="ICF Bern 2023 8"
                class="grid-item grid-item-2"></a>
        <a href="/img/subpages/icf-bern/icf-bern-summer-38.jpg" data-pswp-width="" data-pswp-height=""
            target="_blank"><img src="/img/subpages/icf-bern/icf-bern-summer-38.jpg" alt="ICF Bern 6"
                class="grid-item grid-item-2"></a>
        <a href="/img/subpages/icf-bern/icf-bern-summer-27.jpg" data-pswp-width="" data-pswp-height=""
            target="_blank"><img src="/img/subpages/icf-bern/icf-bern-summer-27.jpg" alt="ICF Bern 6"
                class="grid-item"></a>
        <a href="/img/subpages/icf-bern/icf-bern-summer-41.jpg" data-pswp-width="" data-pswp-height=""
            target="_blank"><img src="/img/subpages/icf-bern/icf-bern-summer-41.jpg" alt="ICF Bern 6"
                class="grid-item"></a>
        <a href="/img/subpages/icf-bern/ICF-BERN-17.jpg" data-pswp-width="" data-pswp-height="" target="_blank"><img
                src="/img/subpages/icf-bern/ICF-BERN-17.jpg" alt="ICF Bern 2" class="grid-item grid-item-2"></a>
        <a href="/img/subpages/icf-bern/icf-bern-4.jpg" data-pswp-width="" data-pswp-height="" target="_blank"><img
                src="/img/subpages/icf-bern/icf-bern-4.jpg" alt="ICF Bern 1" class="grid-item"></a>
        <a href="/img/subpages/icf-bern/icf-bern-6.jpg" data-pswp-width="" data-pswp-height="" target="_blank"><img
                src="/img/subpages/icf-bern/icf-bern-6.jpg" alt="ICF Bern 1" class="grid-item"></a>
        <a href="/img/subpages/icf-bern/icf-bern-12.jpg" data-pswp-width="" data-pswp-height="" target="_blank"><img
                src="/img/subpages/icf-bern/icf-bern-12.jpg" alt="ICF Bern 1" class="grid-item"></a>
        <a href="/img/subpages/icf-bern/ICF-BERN-5.jpg" data-pswp-width="" data-pswp-height="" target="_blank"><img
                src="/img/subpages/icf-bern/ICF-BERN-5.jpg" alt="ICF Bern 1" class="grid-item"></a>
        <a href="/img/subpages/icf-bern/icf-bern-18.jpg" data-pswp-width="" data-pswp-height="" target="_blank"><img
                src="/img/subpages/icf-bern/icf-bern-18.jpg" alt="ICF Bern 3" class="grid-item"></a>
        <a href="/img/subpages/icf-bern/icf-bern-36.jpg" data-pswp-width="" data-pswp-height="" target="_blank"><img
                src="/img/subpages/icf-bern/icf-bern-36.jpg" alt="ICF Bern 4" class="grid-item"></a>
        <a href="/img/subpages/icf-bern/icf-bern-taufe-80.jpg" data-pswp-width="" data-pswp-height=""
            target="_blank"><img src="/img/subpages/icf-bern/icf-bern-taufe-80.jpg" alt="ICF Bern 4"
                class="grid-item"></a>
        <a href="/img/subpages/icf-bern/icf-bern-summer-76.jpg" data-pswp-width="" data-pswp-height=""
            target="_blank"><img src="/img/subpages/icf-bern/icf-bern-summer-76.jpg" alt="ICF Bern 5"
                class="grid-item"></a>
        <a href="/img/subpages/icf-bern/icf-bern-summer-77.jpg" data-pswp-width="" data-pswp-height=""
            target="_blank"><img src="/img/subpages/icf-bern/icf-bern-summer-77.jpg" alt="ICF Bern 5"
                class="grid-item"></a>
        <a href="/img/subpages/icf-bern/icf-bern-summer-30.jpg" data-pswp-width="" data-pswp-height=""
            target="_blank"><img src="/img/subpages/icf-bern/icf-bern-summer-30.jpg" alt="ICF Bern 6"
                class="grid-item"></a>
        <a href="/img/subpages/icf-bern/icf-bern-8.jpg" data-pswp-width="" data-pswp-height="" target="_blank"><img
                src="/img/subpages/icf-bern/icf-bern-8.jpg" alt="ICF Bern 4" class="grid-item"></a>
        <a href="/img/subpages/icf-bern/icf-bern-taufe-10.jpg" data-pswp-width="" data-pswp-height=""
            target="_blank"><img src="/img/subpages/icf-bern/icf-bern-taufe-10.jpg" alt="ICF Bern 4"
                class="grid-item"></a>
        <a href="/img/subpages/icf-bern/icf-bern-taufe-61.jpg" data-pswp-width="" data-pswp-height=""
            target="_blank"><img src="/img/subpages/icf-bern/icf-bern-taufe-61.jpg" alt="ICF Bern 4"
                class="grid-item"></a>
        <a href="/img/subpages/icf-bern/icf-bern-christmas-tv-show-55.jpg" data-pswp-width="" data-pswp-height=""
            target="_blank"><img src="/img/subpages/icf-bern/icf-bern-christmas-tv-show-55.jpg" alt="ICF Bern 4"
                class="grid-item grid-item-2"></a>
    </div>
</div>

<script type="module">
    import PhotoSwipeLightbox from '/photoswipe/dist/photoswipe-lightbox.esm.js';
    const lightbox = new PhotoSwipeLightbox({
        gallery: '#galerie',
        children: 'a',
        pswpModule: () => import('/photoswipe/dist/photoswipe.esm.js')
    });

    async function initLightbox() {
        const galerie = document.getElementById("galerie");
        const children = await galerie.querySelectorAll("a").forEach(async function (elem) {
            const img = new Image();
            let imgWidth;
            let imgHeight;
            img.onload = async function () {
                imgWidth = this.width;
                imgHeight = this.height;
                elem.setAttribute("data-pswp-width", imgWidth);
                elem.setAttribute("data-pswp-height", imgHeight);
            }
            img.src = elem.firstChild.src;
        });
        lightbox.init();
    }

    initLightbox();

</script>

{{ end }}