{{ define "main" }}

<div>
    <div class="line"></div>
    <div class="line-target">
        <div class="circle"
            style="background-color: #2841ff;">
        </div>
    </div>
</div>
<div>
    <div class="line2"></div>
</div>

<section id="one" class="ms-10-home mt-10-home">
    <div>
        <h3 id="title">levyn<span id="blue-span">.{}</span></h3>
    </div>
    <div>
        <p class="full-name ps-2"><a class="link" title="About me" href="/about/">Levyn Schneider</a></p>
        <p class="description ps-2">
            <span id="age">NaN</span> Web developer / designer <br>and <span id="work">null</span>
        </p>
    </div>
</section>

<section id="two" class="ms-10-home mt-10-home">
    <div>
        <h3 id="title">hobbies<span id="blue-span">.{}</span></h3>
    </div>
    <div>
        <ul class="hobbies ps-3">
            <li>Programming</li>
            <li>Tabletennis</li>
            <li>Floorball</li>
            <li>Photography / Videography</li>
        </ul>
    </div>
</section>

{{ end }}