{{ define "main" }}

<div class="container-fluid p-0 min-vh-100">
    <div class="bg-video vh-100 position-relative d-flex align-items-center">
        <video class="w-100 vh-100" src="/video/background-video.mp4" style="filter: blur(5px);" autoplay loop
            muted></video>
        <div
            class="position-absolute w-100 h-100 d-flex flex-column justify-content-center align-items-center text-white pb-5 mb-5">
            <h1 class="brand-name">lyschneider</h1>
            <p class="subtilte">young photographer & filmmaker</p>
            <a href="#ueber-mich"><button class="btn mt-3">Erfahre mehr</button></a>
        </div>
    </div>
</div>

<div class="container d-flex align-items-center min-vh-100" id="ueber-mich">
    <div class="row justify-content-center position-relative pb-5 uebermich">
        <div class="col-xl-5 col-lg-5 col-md-6 col-sm-7 col-10">
            <img src="/img/levyn-portrait.jpg" alt="Portrait of myself" class="img-fluid">
        </div>
        <div
            class="col-xl-5 col-lg-5 col-md-6 col-sm-7 col-10 p-4 d-block position-relative d-flex flex-column uebermich-text">
            <p class="text-center mb-0 title-overhead">etwas</p>
            <h1 class="text-center mb-4">Über mich</h1>
            <p class="mt-3">Mein Name ist <span class="ueber-bold">Levyn</span> und ich lebe in der <span
                    class="ueber-bold">Schweiz</span>. Ich habe meine Leidenschaft für
                fotografieren mit <span class="ueber-bold">8 Jahren</span> entdeckt. Allerdings fotografiere ich erst
                seit ich <span class="ueber-bold">13</span> bin auf
                "professionelle" Art.
            </p>
            <p class="mt-2">Mit Videografie, auch Filmemachen genannt, bin ich auch schon eine
                Weile Aktiv. <a href="#film">Hier</a> siehst du meine Filme die ich bereits gemacht habe.
                Allerdings sind es sehr wenige, da ich die Meisten nicht veröffentlichen darf.</p>
            <a href="#kontakt" class="mt-auto"><button class="w-100 btn">Kontaktiere mich</button></a>
        </div>
    </div>
</div>

<div class="container-fluid px-5 mt-5 pt-5" id="film">
    <div class="row">
        <div class="col-6">
            <h1 class="mb-5 border-bottom">FILM</h1>
            <p class="mb-0">BlessThun - 27.11</p>
            <p>Recap Video</p>
        </div>
        <div class="ratio ratio-16x9 mt-3">
            <iframe src="https://www.youtube.com/embed/CrLZNkvqSo8?rel=0" title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col-12">
            <h1 class="mt-5 mb-3">Willst du auch so ein Video?</h1>
        </div>
        <div class="col-3">
            <a href="#kontakt" class="mt-auto"><button class="btn">Kontaktiere mich</button></a>
        </div>
    </div>
</div>

<div class="divider row">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
            d="M0,256L60,224C120,192,240,128,360,133.3C480,139,600,213,720,234.7C840,256,960,224,1080,192C1200,160,1320,128,1380,112L1440,96L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
        </path>
    </svg>
</div>

<div class="container-fluid px-5 pt-5 pb-5" id="foto">
    <div class="row justify-content-end mb-5">
        <div class="col-6 text-end">
            <h1 class="mb-5 border-bottom">FOTO</h1>
        </div>

        <!-- ICF CE -->
        <div class="col-12 text-end">
            <p class="mb-1">ICF Christmas</p>
            <p>Experience - 2022</p>
        </div>
        <div class="position-relative">
            <a href="/christmas-experience/">
                <img src="/img/gallery/icf-ce-1.jpg" class="img-fluid ratio ratio-16x9" alt="Image">
            </a>
            <a href="/christmas-experience/">
                <button class="btn me-5 mb-4 mehr-button" style="right: 0; bottom: 0;">Mehr</button>
            </a>
        </div>

        <!-- ICF Bern -->
        <div class="col-12 mt-5 pt-5">
            <p>ICF Bern</p>
        </div>
        <div class="position-relative">
            <a href="/icf-bern/">
                <img src="/img/gallery/icf-bern-2.jpg" class="img-fluid ratio ratio-16x9" alt="Image">
            </a>
            <a href="/icf-bern/">
                <button class="btn ms-5 mb-4 mehr-button" style="left: 0; bottom: 0;">Mehr</button>
            </a>
        </div>

        <!-- Ragnar -->
        <div class="col-12 mt-5 pt-5 text-end">
            <p class="mb-1">Ragnar</p>
            <p>Hundefotografie</p>
        </div>
        <div class="position-relative">
            <a href="/ragnar/">
                <img src="/img/gallery/ragnar-new-2.jpg" class="img-fluid ratio ratio-16x9" alt="Image">
            </a>
            <a href="/ragnar/">
                <button class="btn me-5 mb-4 mehr-button" style="right: 0; bottom: 0;">Mehr</button>
            </a>
        </div>
    </div>
</div>

<div class="divider row" style="transform: translateY(-5px) rotate(180deg);">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
            d="M0,256L60,224C120,192,240,128,360,133.3C480,139,600,213,720,234.7C840,256,960,224,1080,192C1200,160,1320,128,1380,112L1440,96L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
        </path>
    </svg>
</div>

<div class="container mb-5 pb-5" id="kontakt">
    <h1 class="text-center mb-3">Kontakt</h1>
    <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-7 col-md-8 col-sm-10 mt-5">
            <form name="contact" method="POST" data-netlify="true" data-netlify-recaptcha="true" action="/success/"
            netfliy class="row g-3 justify-content-center">
                <div class="row">
                    <div class="col-md-6">
                        <label class="mb-1">Vor- & Nachname</label>
                        <div class="input-group">
                            <input name="name" type="text" class="form-control"
                                autocomplete="name" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="mb-1">E-Mail Adresse</label>
                        <div class="input-group">
                            <input name="email" type="email" class="form-control" autocomplete="email" required>
                        </div>
                    </div>
                    <div class="col-md-12 mt-4">
                        <label class="mb-1">Nachricht</label>
                        <div class="input-group">
                            <textarea rows="8" name="message" type="text" class="form-control" autocomplete="email" required></textarea>
                        </div>
                    </div>
                    <div class="col-12 mt-4" data-netlify-recaptcha="true"></div>
                    <div class="col-12 mt-4 mb-5 pb-5">
                        <button class="btn mb-3" type="submit">Absenden</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{ end }}