{{ define "main" }}

<div class="container flex-shrink-0">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <div class="card zoom">
                <h3 class="card-header">
                    Über mich
                </h3>
                <div class="card-body">
                    <p class="card-text">
                        Ich bin 12 Jahre alt und lebe in der Schweiz. Meine
                        Hobbies sind:
                    </p>
                    <ul>
                        <li>Programmieren</li>
                        <li>Tischtennis</li>
                        <li>Unihockey</li>
                        <li>Fotografieren</li>
                    </ul>
                    <a href="/ueber_mich/" class="btn btn-secondary">Mehr über mich</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <div class="card zoom">
                <h3 class="card-header">
                    Mein letztes Projekt
                </h3>
                <div class="card-body">
                    This is a wider card with supporting text below
                    as a natural lead-in to additional content. This content is a little bit longer.
                    </p>
                    <a href="/projekte/" class="btn btn-secondary">Zum Projekt</a>
                </div>
                <div class="card-footer text-muted small">
                    &copy;
                    Copyright
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <div class="card zoom">
                <h3 class="card-header">
                    Kontakt
                </h3>
                <div class="card-body">
                    <p class="card-text">
                        Hier könnt ihr mich Kontaktieren:
                    </p>
                    <ul>
                        <li><a href="mailto:lyschneider@icloud.com">E-Mail</a></li>
                        <li><a href="https://www.instagram.com/ly.schneider" target="_blank">Instagram</a></li>
                        <li><a href="https://twitter.com/Levyn49213647" target="_blank">Twitter</a></li>
                    </ul>
                    <a href="/ueber_mich/" class="btn btn-secondary">Mehr über mich</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}