{{ define "main" }}
<div class="container flex-shrink-0">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-5">
            <div class="card">
                <h3 class="card-header">
                    Kontakt
                </h3>
                <div class="card-body">
                    <p class="card-text col-md-6">
                        Hier könnt ihr mich Kontaktieren:
                    </p>
                    <ul>
                        <li><a href="mailto:lyschneider@icloud.com">E-Mail</a></li>
                        <li><a href="https://www.instagram.com/ly.schneider" target="_blank">Instagram</a></li>
                        <li><a href="https://twitter.com/Levyn49213647" target="_blank">Twitter</a></li>
                    </ul>
                    <p class="card-text col-md-6">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque adipisci sit fuga aperiam
                        consequuntur, sed voluptatum officiis quia beatae magni corrupti explicabo possimus quo
                        architecto, quae, optio fugit harum quis?
                    </p>
                    <p class="card-text col-md-6">
                        Ich bin auch noch via Telefon erreichbar:
                    </p>
                    <ul>
                        <li>+00 000 00 00</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}