{{ define "main" }}
<div class="container flex-shrink-0">
    <div class="row justify-content-center">
        <div class="col-xxl-10 col-xl-12 col-lg-12 col-md-14 col-sm-16 mt-5 px-4">
            <div class="card">
                <h3 class="card-header">
                    Projekte
                </h3>
                <div class="card-body">
                    <p class="card-text col-md-6">
                        Ich mache gerne Projekte die mit Programmieren und Fotografieren zu tun haben.
                    </p>
                    <p class="card-text col-md-6">
                        Ich Fotografiere erst seit etwa 1 1/2 Jahre. Dafür Programmiere ich bereits seit dem ich
                        etwa 10 war.
                    </p>
                    <p class="card-text col-md-6">
                        Unten sind alle Projekte die ich bisher gemacht habe.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card col-xxl-10 col-xl-12 col-lg-12 col-md-14 col-sm-16 mt-5 px-0 zoom">
            <img src="/img_flower.jpg" class="card-img-top" alt="Flower" style="object-fit: cover; height: 350px;">
            <div class="card-body">
                <h5 class="card-title">Macro Fotografie</h5>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, numquam. Rerum,
                    iste perferendis. Voluptates libero itaque vero repellat nulla quasi? Sapiente modi pariatur id,
                    saepe provident quas officia corporis non!</p>
                <div class="card-footer text-muted small px-0">
                    <a href="/projekte/macro-blumen-fotografie" class="btn btn-secondary">Zum Projekt</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card col-xxl-10 col-xl-12 col-lg-12 col-md-14 col-sm-16 mt-5 px-0 mx-4 zoom">
            <img src="laub.jpg" class="card-img-top" alt="Ballon" style="object-fit: cover; height: 350px;">
            <div class="card-body">
                <h5 class="card-title">Herbst Fotografie</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero facilis, sed
                    consequatur qui, suscipit odit voluptatum accusantium iste repellat consequuntur repellendus,
                    incidunt illo ea sunt? Aspernatur ratione temporibus mollitia animi?</p>
                <div class="card-footer text-muted small px-0">
                    <a href="/projekte/herbst-fotografie" class="btn btn-secondary">Zum Projekt</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card col-xxl-10 col-xl-12 col-lg-12 col-md-14 col-sm-16 mt-5 px-0 zoom">
            <img src="ballon.jpg" class="card-img-top" alt="Ballon" style="object-fit: cover; height: 350px;">
            <div class="card-body">
                <h5 class="card-title">Schule für Gestaltung</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ab dolor
                    consectetur quos dolore quam tenetur harum facere, quod ipsa asperiores est minus unde, consequuntur
                    veniam eaque, explicabo odit laboriosam.</p>
                <div class="card-footer text-muted small px-0">
                    <a href="/projekte/schule-fuer-gestaltung" class="btn btn-secondary">Zum Projekt</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}