{{ define "main" }}
<div class="container flex-shrink-0">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-5">
            <div class="card">
                <h3 class="card-header">
                    Projekte
                </h3>
                <div class="card-body">
                    <p class="card-text col-md-6">
                        Ich mache gerne Projekte die mit Programmieren und Fotografieren zu tun haben.
                    </p>
                    <p class="card-text col-md-6">
                        Ich Fotografiere erst seit etwa 1 1/2 Jahre. Dafür Programmiere ich bereits seit dem ich
                        etwa 10 war.
                    </p>
                    <p class="card-text col-md-6">
                        Unten sind alle Projekte die ich bisher gemacht habe.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card col-md-8 mt-5 px-0 zoom">
            <img src="laub.jpeg" class="card-img-top" alt="Ballon"
                style="object-fit: cover; height: 350px;">
            <div class="card-body">
                <h5 class="card-title">Herbst Fotografie</h5>
                <p class="card-text">Dieses Projekt habe ich in der Schule für Gestaltung bei meinem Fotokurs
                    gemacht.</p>
                <div class="card-footer text-muted small px-0">
                    <a href="/projekte/herbst-fotografie" class="btn btn-secondary">Zum Projekt</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-2 row-cols-md-3 g-4 justify-content-center mt-3">
        <div class="col">
            <div class="card zoom">
                <img src="wasser_fotografie.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Wasser Fotografie</h5>
                    <p class="card-text">Dieses Projekt habe ich in der Schule für Gestaltung bei meinem Fotokurs
                        gemacht.</p>
                    <div class="card-footer text-muted small px-0">
                        <a href="/projekte/wasser-fotografie" class="btn btn-secondary">Zum Projekt</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card zoom">
                <img src="/images_projects/bier_fotografie.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bier Fotografie</h5>
                    <p class="card-text">Dieses Projekt habe ich in der Schule für Gestaltung bei meinem Fotokurs
                        gemacht.</p>
                    <div class="card-footer text-muted small px-0">
                        <a href="/projekte/bier-fotografie" class="btn btn-secondary">Zum Projekt</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card col-md-8 mt-5 px-0 zoom">
            <img src="/images_projects/ballon.jpeg" class="card-img-top" alt="Ballon"
                style="object-fit: cover; height: 350px;">
            <div class="card-body">
                <h5 class="card-title">Ballon Fotografie</h5>
                <p class="card-text">Dieses Projekt habe ich in der Schule für Gestaltung bei meinem Fotokurs
                    gemacht.</p>
                <div class="card-footer text-muted small px-0">
                    <a href="/projekte/ballon-fotografie" class="btn btn-secondary">Zum Projekt</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card col-md-8 mt-5 px-0 zoom">
            <img src="/img_flower.jpeg" class="card-img-top" alt="Flower" style="object-fit: cover; height: 350px;">
            <div class="card-body">
                <h5 class="card-title">Macro Fotografie</h5>
                <p class="card-text">Bei diesem Projekt war ich in einem Blumen Laden am Macro Fotografieren.</p>
                <div class="card-footer text-muted small px-0">
                    <a href="/projekte/blumen-fotografie" class="btn btn-secondary">Zum Projekt</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}