{{ define "main" }}

<div class="container-fluid p-0 min-vh-100">
    <div class="bg-video vh-100 position-relative d-flex align-items-center">
        <video class="w-100 vh-100" src="/video/background-video.mp4" style="filter: blur(5px);" autoplay loop
            muted></video>
        <div
            class="position-absolute w-100 h-100 d-flex flex-column justify-content-center align-items-center text-white pb-5 mb-5">
            <h1 class="brand-name text-center" style="font-size: calc(1rem + 1.5vw);">Deine Nachricht wurde erfolgreich versendet!</h1>
            <a href="javascript:history.back();"><button class="btn mt-3"><i
                class="fa-solid fa-arrow-left me-2"></i>Zurück</button></a>
        </div>
    </div>
</div>

{{ end }}